<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @english_country_residence.name %>
</p>

<%= link_to 'Edit', edit_english_country_residence_path(@english_country_residence) %> |
<%= link_to 'Back', english_country_residences_path %>
