<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @native_language.name %>
</p>

<%= link_to 'Edit', edit_native_language_path(@native_language) %> |
<%= link_to 'Back', native_languages_path %>
